<nav class='navbar navbar-default'>
  <ul class='nav navbar-nav'>
    <li routerLinkActive='active'>
      <a routerLink='/home'>{{'HEADER.MENU.HOME' | translate}}</a>
    </li>
    <li routerLinkActive='active'>
      <a routerLink='/products'>{{'HEADER.MENU.PRODUCTS' | translate}}</a>
    </li>
    <li routerLinkActive='active'>
      <a routerLink='/cart'>{{'HEADER.MENU.CART' | translate}}
        <span *ngIf='totalQuantity'>
          ({{totalQuantity}})
        </span>
      </a>
    </li>
    <li routerLinkActive='active'>
      <a routerLink='/about'>{{'HEADER.MENU.ABOUT' | translate}}</a>
    </li>
  </ul>
</nav>
