<table class='table'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Subtotal</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor='let cartProduct of cartProducts'>
      <td>{{cartProduct.product.name}}</td>
      <td>{{cartProduct.product.price | currency:'USD':true:'1.2-2'}}</td>
      <td>
        <input id='quantity{{cartProduct.product.id}}' type='text' [(ngModel)]='cartProduct.quantity' (ngModelChange)="onQuantityChanged(cartProduct)" />
      </td>
      <td>{{cartProduct.product.price * cartProduct.quantity | currency:'USD':true:'1.2-2'}}</td>
      <td>
        <span class='glyphicon glyphicon-remove' (click)='removeCartProduct(cartProduct)'></span>
      </td>
    </tr>
    <tr>
      <td colspan='5'>Total: {{cartService.getTotalPrice() | currency:'USD':true:'1.2-2'}}</td>
    </tr>
  </tbody>
</table>
<a class='btn btn-primary' (click)='makeOrder()'>Checkout</a>