 <div class='thumbnail '>
  <img src={{product.image}} alt='' />
  <div class='caption'>
    <h3>
      {{product.name}}
    </h3>
    <p class='flex-text text-muted'>
      {{product.description}}
    </p>
    <p class='lead'>
      {{product.price | currency:'USD':true:'1.2-2'}}
    </p>
    <p *ngIf='product.quantity !== 0; else outOfStock'>
      {{'PRODUCT.INSTOCK' | translate}} {{product.quantity}} шт.
    </p>
    <ng-template #outOfStock>
      <p>
        {{'PRODUCT.OUTOFSTOCK' | translate}}
      </p>
    </ng-template>
    <a class='btn btn-primary' (click)='addToCart()'>
      {{'PRODUCT.ADDTOCART' | translate}}
    </a>
  </div>
</div>
