 <div class='thumbnail '>
  <img src={{product.image}} alt='' />
  <div class='caption'>
    <h3>
      {{product.name}}
    </h3>
    <p class='flex-text text-muted'>
      {{product.description}}
    </p>
    <p class='lead'>
      {{product.price}} &#8381;
    </p>
    <p *ngIf='product.quantity !== 0; else outOfStock'>
      В наличии {{product.quantity}} шт.
    </p>
    <ng-template #outOfStock>
      <p>
        Нет в наличии
      </p>
    </ng-template>
    <a class='btn btn-primary' (click)='addToCart()'>
      Add to cart
    </a>
  </div>
</div>
